# Diabetes Prediction Challenge

link :

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv('./data/train.csv')

In [3]:
data.head(5)

,id,age,alcohol_consumption_per_week,physical_activity_minutes_per_week,diet_score,sleep_hours_per_day,screen_time_hours_per_day,bmi,waist_to_hip_ratio,systolic_bp,...,gender,ethnicity,education_level,income_level,smoking_status,employment_status,family_history_diabetes,hypertension_history,cardiovascular_history,diagnosed_diabetes
0,0,31,1,45,7.7,6.8,6.1,33.4,0.93,112,...,Female,Hispanic,Highschool,Lower-Middle,Current,Employed,0,0,0,1.0
1,1,50,2,73,5.7,6.5,5.8,23.8,0.83,120,...,Female,White,Highschool,Upper-Middle,Never,Employed,0,0,0,1.0
2,2,32,3,158,8.5,7.4,9.1,24.1,0.83,95,...,Male,Hispanic,Highschool,Lower-Middle,Never,Retired,0,0,0,0.0
3,3,54,3,77,4.6,7.0,9.2,26.6,0.83,121,...,Female,White,Highschool,Lower-Middle,Current,Employed,0,1,0,1.0
4,4,54,1,55,5.7,6.2,5.1,28.8,0.90,108,...,Male,White,Highschool,Upper-Middle,Never,Retired,0,1,0,1.0

In [4]:
data.shape

(700000, 26)

In [5]:
data.isna().sum()

id                                    0
age                                   0
alcohol_consumption_per_week          0
physical_activity_minutes_per_week    0
diet_score                            0
sleep_hours_per_day                   0
screen_time_hours_per_day             0
bmi                                   0
waist_to_hip_ratio                    0
systolic_bp                           0
diastolic_bp                          0
heart_rate                            0
cholesterol_total                     0
hdl_cholesterol                       0
ldl_cholesterol                       0
triglycerides                         0
gender                                0
ethnicity                             0
education_level                       0
income_level                          0
smoking_status                        0
employment_status                     0
family_history_diabetes               0
hypertension_history                  0
cardiovascular_history                0
diagnosed_diabetes                    0
dtype: int64

In [6]:
data.duplicated().sum()

np.int64(0)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700000 entries, 0 to 699999
Data columns (total 26 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   id                                  700000 non-null  int64
 1   age                                 700000 non-null  int64
 2   alcohol_consumption_per_week        700000 non-null  int64
 3   physical_activity_minutes_per_week  700000 non-null  int64
 4   diet_score                          700000 non-null  float64
 5   sleep_hours_per_day                 700000 non-null  float64
 6   screen_time_hours_per_day           700000 non-null  float64
 7   bmi                                 700000 non-null  float64
 8   waist_to_hip_ratio                  700000 non-null  float64
 9   systolic_bp                         700000 non-null  int64
 10  diastolic_bp                        700000 non-null  int64
 11  heart_rate                          700000 non-null  int64
 12  cholesterol_total                   700000 non-null  int64
 13  hdl_cholesterol                     700000 non-null  int64
 14  ldl_cholesterol                     700000 non-null  int64
 15  triglycerides                       700000 non-null  int64
 16  gender                              700000 non-null  object
 17  ethnicity                           700000 non-null  object
 18  education_level                     700000 non-null  object
 19  income_level                        700000 non-null  object
 20  smoking_status                      700000 non-null  object
 21  employment_status                   700000 non-null  object
 22  family_history_diabetes             700000 non-null  int64
 23  hypertension_history                700000 non-null  int64
 24  cardiovascular_history              700000 non-null  int64
 25  diagnosed_diabetes                  700000 non-null  float64
dtypes: float64(6), int64(14), object(6)
memory usage: 138.9+ MB

In [8]:
data.select_dtypes(include=['object'])

,gender,ethnicity,education_level,income_level,smoking_status,employment_status
0,Female,Hispanic,Highschool,Lower-Middle,Current,Employed
1,Female,White,Highschool,Upper-Middle,Never,Employed
2,Male,Hispanic,Highschool,Lower-Middle,Never,Retired
3,Female,White,Highschool,Lower-Middle,Current,Employed
4,Male,White,Highschool,Upper-Middle,Never,Retired
...,...,...,...,...,...,...
699995,Female,Hispanic,Postgraduate,Upper-Middle,Former,Employed
699996,Female,Hispanic,Graduate,Upper-Middle,Former,Employed
699997,Female,White,Graduate,Middle,Never,Employed
699998,Female,White,Highschool,Lower-Middle,Never,Retired
699999,Female,Black,Graduate,Low,Former,Employed

In [9]:
data.select_dtypes(include=['object']).columns

Index(['gender', 'ethnicity', 'education_level', 'income_level',
       'smoking_status', 'employment_status'],
      dtype='object')

In [10]:
data['gender'].unique()

array(['Female', 'Male', 'Other'], dtype=object)

In [11]:
data['smoking_status'].unique()

array(['Current', 'Never', 'Former'], dtype=object)

In [12]:
data['ethnicity'].unique()

array(['Hispanic', 'White', 'Asian', 'Black', 'Other'], dtype=object)

In [13]:
data['education_level'].unique()

array(['Highschool', 'Graduate', 'Postgraduate', 'No formal'],
      dtype=object)

In [14]:
data['income_level'].unique()

array(['Lower-Middle', 'Upper-Middle', 'Low', 'Middle', 'High'],
      dtype=object)

In [15]:
data['employment_status'].unique()

array(['Employed', 'Retired', 'Student', 'Unemployed'], dtype=object)

## Ordinal Encoding

In [16]:
# smoking status
data['smoking_status'] = data['smoking_status'].map({
    'Never': 0,
    'Former': 1,
    'Current': 2
})

# education level
data['education_level'] = data['education_level'].map({
    'No formal': 0,
    'Highschool': 1,
    'Graduate': 2,
    'Postgraduate': 3
})

# income level
data['income_level'] = data['income_level'].map({
    'Low': 0,
    'Lower-Middle': 1,
    'Middle': 2,
    'Upper-Middle': 3,
    'High': 4
})

## One-Hot Encoding

In [17]:
one_hot_cols = ['gender', 'ethnicity', 'employment_status']

data = pd.get_dummies(
    data,
    columns=one_hot_cols,
    drop_first=True
)

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700000 entries, 0 to 699999
Data columns (total 32 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   id                                  700000 non-null  int64
 1   age                                 700000 non-null  int64
 2   alcohol_consumption_per_week        700000 non-null  int64
 3   physical_activity_minutes_per_week  700000 non-null  int64
 4   diet_score                          700000 non-null  float64
 5   sleep_hours_per_day                 700000 non-null  float64
 6   screen_time_hours_per_day           700000 non-null  float64
 7   bmi                                 700000 non-null  float64
 8   waist_to_hip_ratio                  700000 non-null  float64
 9   systolic_bp                         700000 non-null  int64
 10  diastolic_bp                        700000 non-null  int64
 11  heart_rate                          700000 non-null  int64
 12  cholesterol_total                   700000 non-null  int64
 13  hdl_cholesterol                     700000 non-null  int64
 14  ldl_cholesterol                     700000 non-null  int64
 15  triglycerides                       700000 non-null  int64
 16  education_level                     700000 non-null  int64
 17  income_level                        700000 non-null  int64
 18  smoking_status                      700000 non-null  int64
 19  family_history_diabetes             700000 non-null  int64
 20  hypertension_history                700000 non-null  int64
 21  cardiovascular_history              700000 non-null  int64
 22  diagnosed_diabetes                  700000 non-null  float64
 23  gender_Male                         700000 non-null  bool
 24  gender_Other                        700000 non-null  bool
 25  ethnicity_Black                     700000 non-null  bool
 26  ethnicity_Hispanic                  700000 non-null  bool
 27  ethnicity_Other                     700000 non-null  bool
 28  ethnicity_White                     700000 non-null  bool
 29  employment_status_Retired           700000 non-null  bool
 30  employment_status_Student           700000 non-null  bool
 31  employment_status_Unemployed        700000 non-null  bool
dtypes: bool(9), float64(6), int64(17)
memory usage: 128.8 MB

In [19]:
data.select_dtypes(include=['object']).columns

Index([], dtype='object')

In [23]:
data.head(5)

,id,age,alcohol_consumption_per_week,physical_activity_minutes_per_week,diet_score,sleep_hours_per_day,screen_time_hours_per_day,bmi,waist_to_hip_ratio,systolic_bp,...,diagnosed_diabetes,gender_Male,gender_Other,ethnicity_Black,ethnicity_Hispanic,ethnicity_Other,ethnicity_White,employment_status_Retired,employment_status_Student,employment_status_Unemployed
0,0,31,1,45,7.7,6.8,6.1,33.4,0.93,112,...,1.0,False,False,False,True,False,False,False,False,False
1,1,50,2,73,5.7,6.5,5.8,23.8,0.83,120,...,1.0,False,False,False,False,False,True,False,False,False
2,2,32,3,158,8.5,7.4,9.1,24.1,0.83,95,...,0.0,True,False,False,True,False,False,True,False,False
3,3,54,3,77,4.6,7.0,9.2,26.6,0.83,121,...,1.0,False,False,False,False,False,True,False,False,False
4,4,54,1,55,5.7,6.2,5.1,28.8,0.90,108,...,1.0,True,False,False,False,False,True,True,False,False

In [25]:
bool_cols = data.select_dtypes(include='bool').columns
data[bool_cols] = data[bool_cols].astype(int)

In [26]:
data.head(5)

,id,age,alcohol_consumption_per_week,physical_activity_minutes_per_week,diet_score,sleep_hours_per_day,screen_time_hours_per_day,bmi,waist_to_hip_ratio,systolic_bp,...,diagnosed_diabetes,gender_Male,gender_Other,ethnicity_Black,ethnicity_Hispanic,ethnicity_Other,ethnicity_White,employment_status_Retired,employment_status_Student,employment_status_Unemployed
0,0,31,1,45,7.7,6.8,6.1,33.4,0.93,112,...,1.0,0,0,0,1,0,0,0,0,0
1,1,50,2,73,5.7,6.5,5.8,23.8,0.83,120,...,1.0,0,0,0,0,0,1,0,0,0
2,2,32,3,158,8.5,7.4,9.1,24.1,0.83,95,...,0.0,1,0,0,1,0,0,1,0,0
3,3,54,3,77,4.6,7.0,9.2,26.6,0.83,121,...,1.0,0,0,0,0,0,1,0,0,0
4,4,54,1,55,5.7,6.2,5.1,28.8,0.90,108,...,1.0,1,0,0,0,0,1,1,0,0

In [27]:
data.to_csv("./data/train_encoded.csv", index=False)